body{
    background: linear-gradient(100deg, #153677, #4e085f);
}
.container{
 
   justify-content: center;
   align-items: center;
  
   background-color: rgb(241, 232, 200);
   border-radius: 15px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   width:100%;
   max-width: 540px;
   margin:100px auto 20px;
   padding: 40px 30px 70px;
  

}
input{
    block-size: 30px;
    width:100%;
    font-size: 16px;
      border-radius:10px;
      outline: none;
      border:none;
      box-shadow: 0 0 1px 1px  rgb(146, 145, 145);
     padding-left: 20px;
}
.collect{
    display:flex;
     gap:10px;
}
button {
border-radius: 20px;
background-color: hsl(16, 95%, 52%);
color: antiquewhite;
height:32px;
width:70px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
box-shadow: 2px 1px rgb(162, 161, 161);
outline: none;
border:none;
cursor:pointer;
}
button:hover{
    background-color:rgb(221, 68, 30);
}
li{
  display:flex;
   gap:10px;
  justify-content:space-between;
  /* box-shadow: 1px 1px rgb(243, 224, 170);*/
  padding: 10px;
   background-color: rgb(255, 255, 241);
   border-radius: 5px;
}
#Greet{
    color:rgb(247, 227, 200);
    padding-left:70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.items{
  display:flex;
    flex-direction: column;   
   padding-left: 0;
   list-style:none;
    gap:10px;
    
    
}
#start{
    color:rgb(36, 36, 36);

}
